<section>
  <h1>About Me</h1>
  {% img https://avatars1.githubusercontent.com/u/3959940?s=460 200 200 'Cody Schaaf' 'An image of me' %}
  <p>Hi!
    <br>
    My name is Cody Schaaf, and this is my dog Rusty.
    <br>
    I’m a web developer, game maker, and technology enthusiast.  I spend most of my time these days bouncing between Node and Rails, but I’m pretty language agnostic.  I enjoy nothing more than learning new languages and frameworks.  Feel free to contact me with questions/comments/anything.
    <br>
    <br>
    <strong>Location:</strong> San Francisco
    <br>
    <strong>Email:</strong> codyjschaaf@gmail.com
  </p>
</section>
